body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #eaeaea;
  }
  .navbar {
    overflow: hidden;
    background-color: #2f7cc5
  }
  
  
  .navbar a {
    float: left;
    display: block;
    color: white; 
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
  }
  
  
  .navbar a.right {
    float: right; 
  }
  
  
  .navbar a:hover {
    background-color: #5dabf4;
    color: black;
  }
  
  .horizontal_dotted_line {
    border-bottom: 2px double black;
    width: px;
  }