<!DOCTYPE html>
<html lang="en">
  <!-- Don't change these links. Flask probably needs them like this. -->
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}" />
  <script src="{{ url_for('static', filename='scripts/script.js') }}"></script>
  <head>
    <title>Dream Job Quest</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="static/assets/icons/nobg6.png">
  </head>
  
  <body>
    <div class="navbar">
      <a href="index.html" class="left"><img src="static/assets/icons/homeIcon.png" alt="Home"  width="40"></a>
      <!-- <a href="#" class="right">Link</a> -->
      <a href="quiz.html" class="left">Find Jobs</a>
      <div style="margin: auto; width: 30%; text-align: center;">
        <a><img src="static/assets/icons/nobg6.png" height=30px width=30px></a>
        <a><h2>DREAM JOB QUEST</h2></a>
      </div>
          
    </div>
     <h1><center>DREAM JOB QUEST</center></h1>
        <p><em><center>You're the king of your own destiny</center></em></p>
        <div class="horizontal_dotted_line"></div>
        <h2><center>HOME</center></h2>
     <div>
      <p style="font-size: 100px; text-align: center;">DO YOU<img src="https://media.discordapp.net/attachments/1347989500055519313/1348772661030817802/finga_nobg.png?ex=67d0aded&is=67cf5c6d&hm=5e11cb7e5febe423614ec1bc28dc25c8aea937c41ead487a0301b2e0588f5751&=&format=webp&quality=lossless" width="130"> WANT TO GET A JOB?</p>
     </div> 
      
    </div>
  </body>
</html>

