<!DOCTYPE html>
  <html lang="en">
    <!-- Don't change these links. Flask probably needs them like this. -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}" />
    <script src="{{ url_for('static', filename='scripts/quizScript.js') }}"></script>
    <head>
      <title>Dream Job Quest</title>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="icon" type="image/x-icon" href="static/assets/icons/nobg6.png">
    </head>
  <body>
      <div class="navbar"> 
          <!-- Navigation buttons -->
          <a href="index.html" class="left"><img src="static/assets/icons/home.png" alt="Home"  width="40"></a>
          <a href="quiz.html" class="selected">Find Jobs</a>
        </div>
        
      <div class="parralax">
        <h1><center>DREAM JOB QUEST</center></h1>
        <p><em><center>You're the king of your own destiny</center></em></p>
        <div class="horizontal_dotted_line"></div>
        <h2><center>QUIZ</center></h2>
        <!-- <center><input id="functionTestBtn" type="button" value="Click to Test" onclick="buttonFunction();" /></center> -->
        <div class="horizontal_small_line"></div>
        <div id="quizicalstuff">
          <form action="/results">
            <!-- Buttons for level of education question -->
            <center><h2>Level of education.</h2>
            <div class="quizOptions">
              <input type="radio" id="n/a" name="education" value="N/A" id="button" >
              <lable for="n/a">N/A</lable><br>
              <input type="radio" id="hs" name="education" value="HS">
              <lable for="hs">High School Degree</lable><br>
              <input type="radio" id="ad" name="education" value="AD">
              <lable for="ad">Associate's Degree</lable><br>
              <input type="radio" id="bd" name="education" value="BD">
              <lable for="bd">Bachelor's Degree</lable><br>
              <input type="radio" id="advd" name="education" value="AdvD">
              <lable for="advd">Advanced Degree</lable><br>
            </div>

            <div class="horizontal_small_line"></div>
            <!-- Buttons for interests question -->
            <h2>Interests (Select up to 3)</h2>
            <div class="quizOptions">
              <input type="checkbox" name="interests" id="Realistic" value="realistic">
              <label for="Realistic">Realistic</label><br>
              <input type="checkbox" name="interests" id="Investigative" value="investigative">
              <label for="Investigative">Investigative</label><br>
              <input type="checkbox" name="interests" id="Artistic" value="artistic">
              <label for="Artistic">Artistic</label><br>
              <input type="checkbox" name="interests" id="Social" value="social">
              <label for="Social">Social</label><br>
              <input type="checkbox" name="interests" id="Enterprising" value="enterprising">
              <label for="Enterprising">Enterprising</label><br>
              <input type="checkbox" name="interests" id="Conventional" value="conventional">
              <label for="Conventional">Conventional</label><br>
            </div>

            <div class="horizontal_small_line"></div>
            <!-- Buttons for abilities question -->
            <h2>Abilities (Select up to 3)</h2>
            <div class="quizOptions">
              <input type="checkbox" name="abilities" id="Focus" value="focus">
              <label for="Focus">Focus</label><br>
              <input type="checkbox" name="abilities" id="Perceptiveness" value="perceptiveness">
              <label for="Perceptiveness">Perceptiveness</label><br>
              <input type="checkbox" name="abilities" id="Reasoning" value="reasoning">
              <label for="Reasoning">Reasoning</label><br>
              <input type="checkbox" name="abilities" id="Creativity" value="creativity">
              <label for="Creativity">Creativity</label><br>
              <input type="checkbox" name="abilities" id="Precision" value="precision">
              <label for="Precision">Precision</label><br>
              <input type="checkbox" name="abilities" id="Physical Coordination" value="physicalCoordination">
              <label for="Physical Coordination">Physical Coordination</label><br>
              <input type="checkbox" name="abilities" id="Physical Strength" value="physicalStrength">
              <label for="Physical Strength">Physical Strength</label><br>
            </div>

            <div class="horizontal_small_line"></div>



            <input type="submit" value="Submit"></center>
          </form>
        </div>
      </div>
  </body>
</html>
