body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #eaeaea;
    padding: 0;
    margin: 0;
  }

  .navbar {
    overflow: hidden;
    background-color: #2f7cc5
  }
  
  .navbar a.left {
    float: left;
    display: block;
    color: white; 
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
  }  
  
  .navbar a.right {
    float: right; 
  }
  
  
  .navbar a:hover {
    background-color: #5dabf4;
    color: black;
    transition: 1s;
    text-decoration: underline;
  }
  .navbar a.selected {
    float: left;
    display: block;
    color: black; 
    background-color: #5dabf4;
    text-decoration: underline;
    text-align: center;
    padding: 14px 20px;
  }


  .results {
    margin: auto;
    width: 50%;
    /* outline-color: black;
    outline-style: dashed; */
  }

  
  .horizontal_dotted_line {
    border-bottom: 4px double black;
    width: px;
  }

  .horizontal_small_line {
    border-bottom: 2px double black;
    width: px;
  }

  .buttons {
    padding-right: 10px

  }

  .parralax {
    background-image: url("https://media.discordapp.net/attachments/1347989500055519313/1348762817309708308/image.png?ex=67d0a4c2&is=67cf5342&hm=b0e5f76882966945ef5fd88dddc55d8c5cd1ba9d33d5dcc46ca65c06bb43d72f&=&format=webp&quality=lossless&width=1032&height=679");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    margin: 0;
    color: #eaeaea;
    font-weight: 700;
  }

  .center {
    text-align: center;
  }